<%- include('./partials/head.ejs') %>
    <h2>Cadastrar</h2>
    <form action="/login" method="post">
      <label for="login_sms">Login:</label>
      <input type="text" id="login_sms" name="login_sms" minlength="7" maxlength="7" required />
      <br />
      <label for="senha">Senha:</label>
      <input type="password" id="senha" name="senha" minlength="6" maxlength="15" required />
      <br />
      <br />
      <button type="submit">logar</button>
    </form>  
<%- include('./partials/footer.ejs') %>
